Deny From All

<Files "bot.php">
     Order Deny,Allow
     Allow from All
</Files>

<Files /img/*>
     Order Deny,Allow
     Allow from All
</Files>

<Files /img/tmp/*>
     Order Deny,Allow
     Allow from All
</Files>